@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../packages/ui/src/components/**/*.{ts,tsx}';

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 228 70% 95%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --brand: 228 73% 34%;
}

@theme {
  --text-base: 14px;
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-brand: hsl(var(--brand));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-base bg-background text-foreground;
  }
}

.vis-minor {
  border-color: var(--color-zinc-800) !important;
}

.vis-item {
  height: 26px;
  min-height: 26px;
  max-height: 26px;
  background-color: var(--color-gray-200) !important;
  color: var(--color-zinc-800) !important;
  padding: 1px 0px 1px 8px !important;
  border: 1px solid color-mix(in srgb, var(--color-gray-200) 70%, black) !important;
  border-radius: 8px !important;
}

.status-PENDING .status-icon,
.vis-item.booking-status-PENDING {
  border: 2px dashed var(--color-neutral-500) !important;
  background-color: var(--color-white) !important;
  color: var(--color-zinc-800) !important;
}
.status-CONFIRMED .status-icon {
  background-color: var(--color-neutral-800);
}
.status-PAID .status-icon {
  background-color: var(--color-lime-500);
}
.status-CANCELLED .status-icon,
.vis-item.booking-status-CANCELLED {
  background-color: var(--color-red-600) !important;
  color: var(--color-white) !important;
  border: 1px solid color-mix(in srgb, var(--color-red-600) 70%, black) !important;
}
.status-BLOCKED .status-icon,
.vis-item.booking-status-BLOCKED {
  background-color: var(--color-gray-300) !important;
  color: var(--color-zinc-800) !important;
  border: 1px solid color-mix(in srgb, var(--color-gray-300) 70%, black) !important;
}

.vis-panel.vis-bottom {
  display: none;
}

.vis-item .vis-item-content {
  padding: 0px !important;
}

.vis-item.vis-selected {
  background-color: hsl(var(--brand)) !important;
  color: var(--color-white) !important;
  border: 1px solid color-mix(in srgb, hsl(var(--brand)) 70%, black) !important;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.vis-item.vis-background {
  background-color: hsl(var(--brand) / 0.46) !important;
  font-weight: bold;
  color: var(--color-zinc-800) !important;
  padding: 5px !important;
}

#calendar .vis-item.employee {
  background-color: var(--color-gray-400) !important;
  color: var(--color-zinc-800) !important;
}
#calendar .vis-item.employee .vis-item-overflow .vis-item-content,
#calendar .vis-item.employee .vis-item-visible-frame span {
  background-color: color-mix(in srgb, var(--color-gray-400) 46%, transparent) !important;
}
#calendar .vis-item.maybe {
  background-color: var(--color-yellow-400) !important;
  color: var(--color-zinc-800) !important;
}
#calendar .vis-item.maybe .vis-item-overflow .vis-item-content,
#calendar .vis-item.maybe .vis-item-visible-frame span {
  background-color: color-mix(in srgb, var(--color-yellow-400) 46%, transparent) !important;
}
#calendar .vis-item.deleted,
#calendar .vis-item.deleted .vis-item-overflow .vis-item-content,
#calendar .vis-item.deleted .vis-item-visible-frame span {
  background-color: var(--color-red-600) !important;
  color: var(--color-white);
}

.vis-time-axis .vis-text,
.vis-labelset .vis-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: var(--color-zinc-800) !important;
}

.vis-minor.vis-saturday,
.vis-minor.vis-sunday {
  background: var(--color-gray-200);
}
